{% extends 'base.html' %}

{% load static %}

{% block title %}
    Pots List
{% endblock %}

{% block body %}

    <div style="margin: 0 auto; width: 50%">
        <h1>
            <strong>
                Gönderiler
            </strong>
        </h1>
        <hr>
        <p>
        <h3 style="color: darkred;">
            <strong>
                {% for post in posts %}
                    {{ post.title }}
                {% endfor %}
            </strong>
        </h3>
        </p>
        <p>
        <h4>
            <strong>
                {% for post in posts %}
                {{ post.content }}
                <br>
                {% if sayi < 10 %}
                <h5>
                    {{ post.created_date }}
                </h5>
                {% endif %}
                {% endfor %}
            </strong>
        </h4>
        </p>
    </div>

{% endblock %}